* {
    primary: #ffb1c1;
    primary-fixed: #ffd9df;
    primary-fixed-dim: #ffb1c1;
    on-primary: #551d2d;
    on-primary-fixed: #3a0718;
    on-primary-fixed-variant: #713343;
    primary-container: #713343;
    on-primary-container: #ffd9df;
    secondary: #e4bdc3;
    secondary-fixed: #ffd9df;
    secondary-fixed-dim: #e4bdc3;
    on-secondary: #43292f;
    on-secondary-fixed: #2b151a;
    on-secondary-fixed-variant: #5b3f45;
    secondary-container: #5b3f45;
    on-secondary-container: #ffd9df;
    tertiary: #ecbe91;
    tertiary-fixed: #ffdcbd;
    tertiary-fixed-dim: #ecbe91;
    on-tertiary: #462a09;
    on-tertiary-fixed: #2c1600;
    on-tertiary-fixed-variant: #60401d;
    tertiary-container: #60401d;
    on-tertiary-container: #ffdcbd;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #191113;
    on-surface: #efdee0;
    on-surface-variant: #d6c2c4;
    outline: #9e8c8f;
    outline-variant: #524346;
    shadow: #000000;
    scrim: #000000;
    surface-alpha: rgba(25, 17, 19, 0.7);
    inverse-surface: #efdee0;
    inverse-on-surface: #382e30;
    inverse-primary: #8d4a5a;
    surface-dim: #191113;
    surface-bright: #413738;
    surface-container-lowest: #140c0e;
    surface-container-low: #22191b;
    surface-container: #261d1f;
    surface-container-high: #312829;
    surface-container-highest: #3c3234;
}
